.todo-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 1px cornflowerblue solid;
  border-radius: 30px;
  margin: 10px;
}

.button {
  color: white;
  background-color: red;
  border-radius: 20px;
  padding: 10px 14px;
}
.button:hover {
  cursor: pointer;
  box-shadow: 0 0 10px lightcoral;
}
